.dashboard {
    background-color: #E0EDFE;
}

.dashboard .heading {
    background-image: linear-gradient(#4687D2,#7957B8);
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dashboard .heading button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
}

.dashboard .itemContainer {
    width: 100%;
    height: 92vh;
    display: flex;
}

.published {
    width: 70%;
    border-right: 2px solid grey;
}

.published>div{
    width: 100%;
    height:80vh;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
}

h3 {
    padding-left: 20px;
}

.draft {
    width: 30%;
}

.draft>div{
    width: 100%;
    height:80vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* flex-wrap: wrap; */
}

.dashboard .button {
    position: absolute;
    bottom: 40px;
    right: 30px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 50px;
    color: white;
    background-image: linear-gradient(#4687D2,#7957B8);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

