.cvItems {
    background-color: aliceblue;
    height: 200px;
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cvItems .image {
    height:200px;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cvItems .image img {
    height: 150px;
    width: 150px;
}

.buttons {
    color: white;
    height:200px;
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#4C82CF,#745CBA);
}

.buttons button {
    height: 30px;
    width: 100px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 5px;
}

.pdfButton {
    width: 100%;
    background-color: none;
    border: none;
    margin-top: 10px;
    padding: 10px;
}